@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
$imagePath: "../../images/";
$black: #000000;
$white: #fff;
$red: #CA2E2B;
$primary :#005aab;
$dark-gray :#5e5e5e;
$secondary: #71b1ea;
$text-color: #303030;
$dark-blue: #71b1ea;
$icon-color:#525254;

/*0054a6*/

$button-bg: $primary;
$button-bg-hover: #71b1ea;
$text-color-dark: #202020;
$border-color-light: #ccc;
$highlight: #00C29B;
$green-text: #00C29B;