

@using Common
<div class="popup_Box" id="PaymentIdlePopup" style="display:none;">
    <div class="center-block">
        <div class="outer">
            <div class="session__expire text-center">
                <img src="~/images/mobile/icons/session-expire.svg" alt="" class="clock_tym" />
                <h3>Your Session has Expired.</h3>
                <p> Flight prices may change frequently owing to demand & availability. Start a new search to view the best deals.</p>
                <div class="popup-btn">
                    <button class="active searchbtn NewSearch">Go to Home</button>
                </div>
            </div>
        </div>
    </div>
</div>
