<div class="insvble">
    <input id="tsep-cardNum" type="text" style="opacity:0; z-index:-10;position:absolute">
    <input id="tsep-datepicker" type="text" style="opacity:0;z-index:-10;position:absolute">
    <input id="tsep-cvv2" type="text" style="opacity:0;z-index:-10;position:absolute">
</div>
<!-- Modal -->
<div id="TravelProcationPopup" class="modal fade pricPopNw" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="price13"></div>
                <div class="olySlct">
                    <span >
                        <i class="fa fa-exclamation-triangle"></i> <bdo dir="ltr" class="TripProError" style="display:none"></bdo>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="TravelProcationErrorPopup" class="modal fade  PayPricePop" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="FrPyBggwrpr paycommnWrppr">

                    <div class="pricPopCont">
                        <i class="fa fa-exclamation-triangle"></i>
                        <bdo dir="ltr" id="TravelProcationError">
                         </bdo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>