@using Infrastructure.HelpingModel
@{
    CurrencyMaster currencyMaster = Presentation.Controllers.ShareUtility.GetCurrency(Request);
}

<div class="currencyBox">
    <div class="currencyClick"><span class="curClass">@String.Format("{0}", currencyMaster.CurrencyType) </span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
</svg></div>

    <ul id="currencyul" style="display:none;">

        <li onclick="currencyChange('USD')">
            <a href="javascript:void(0)">
                <div><span class="sprte usd"> </span><span class="name_currency"> USD</span></div>
                <span class="side_curency">$</span>
            </a>
        </li>

        <li onclick="currencyChange('CAD')">
            <a href="javascript:void(0)">
                <div><span class="sprte cad"> </span><span class="name_currency"> CAD</span></div>
                <span class="side_curency">CA$</span>
            </a>
        </li>

        <li onclick="currencyChange('INR')">
            <a href="javascript:void(0)">
                <div><span class="sprte inr"> </span><span class="name_currency"> INR</span></div>
                <span class="side_curency">₹</span>
            </a>
        </li>

        <li onclick="currencyChange('GBP')">
            <a href="javascript:void(0)">
                <div><span class="sprte gbp"> </span><span class="name_currency"> GBP</span></div>
                <span class="side_curency">£</span>
            </a>
        </li>

        <li onclick="currencyChange('AED')">

            <a href="javascript:void(0)">
                <div><span class="sprte aed"> </span><span class="name_currency"> AED</span></div>
                <span class="side_curency">AED</span>
            </a>
        </li>

        <li onclick="currencyChange('AUD')">
            <a href="javascript:void(0)">
                <div><span class="sprte aud"> </span><span class="name_currency"> AUD</span></div>
                <span class="side_curency">A$</span>
            </a>
        </li>

        <li onclick="currencyChange('SAR')">
            <a href="javascript:void(0)">
                <div><span class="sprte sar"> </span><span class="name_currency"> SAR</span></div>
                <span class="side_curency">SAR</span>
            </a>
        </li>
    </ul>
</div>