 

<section class="offer-wrapper my-md-3 my-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="common-head mt-sm-4 mb-sm-5 mt-2 mb-3 pt-3">
                    <h3>
                        Our Offers
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="offer-inner">
                    <div class="offer-img">
                        <img src="~/images/family_holiday.jpg" alt="family holiday" />
                    </div>
                    <div class="offer-cont">
                        <div class="offer-left">
                            <h3 title="Family Travel">Family Travel</h3>
                            <p class="coupon">Use Coupon Code</p>
                            <p class="code">WIZFAM</p>
                        </div>
                        <div class="offer-right">
                            <a href="javascript:void(0);">
                                <span>GET</span>
                                <p>20% OFF<span class="color-red">*</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="offer-inner">
                    <div class="offer-img">
                        <img src="~/images/weeken_holiday.jpg" alt="weekend" />
                    </div>
                    <div class="offer-cont">
                        <div class="offer-left">
                            <h3 title="Weekend Holidays">Weekend Holidays</h3>
                            <p class="coupon">Use Coupon Code</p>
                            <p class="code">WIZWEEK</p>
                        </div>
                        <div class="offer-right">
                            <a href="javascript:void(0);">
                                <span>GET</span>
                                <p>20% OFF<span class="color-red">*</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="offer-inner">
                    <div class="offer-img">
                        <img src="~/images/senior_holiday.jpg" alt="senior" />
                    </div>
                    <div class="offer-cont">
                        <div class="offer-left">
                            <h3 title="Senior Travel">Senior Travel</h3>
                            <p class="coupon">Use Coupon Code</p>
                            <p class="code">WIZSEN</p>
                        </div>
                        <div class="offer-right">
                            <a href="javascript:void(0);">
                                <span>GET</span>
                                <p>20% OFF<span class="color-red">*</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="offer-inner">
                    <div class="offer-img">
                        <img src="~/images/firstclass_ticket.jpg" alt="First Class" />
                    </div>
                    <div class="offer-cont">
                        <div class="offer-left">
                            <h3 title="Buiness Travel">Buiness Travel</h3>
                            <p class="coupon">Use Coupon Code</p>
                            <p class="code">WIZBUS</p>
                        </div>
                        <div class="offer-right">
                            <a href="javascript:void(0);">
                                <span>GET</span>
                                <p>20% OFF<span class="color-red">*</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




 