<div class="dealCntr">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <h2 class="page__title"><strong>Best</strong> Flight Deals</h2></div>
        </div>
        <div id="flightDeal">
            <div>
                <div class="loading-icon">
                    <div class="loading-circle"></div>
                </div>
            </div>
            <div class="head text-center">Deals loading...</div>
        </div>
    </div>
</div>




