<div class="container">
    <!--  / destination box \ -->
    <div class="countryList">

        <div class="row">
            <div class="col-sm-12">
                <div class="page__title text-center">Popular destinations </div>

                <div class="cnslider">
                    <div class="items">
                        <a href="/deals/flight-to-bali">
                            <figure><img src="/images/home/bali.png" alt="bali" /> <p>Bali <small>Indonesia</small></p></figure>
                        </a>
                    </div>


                    <div class="items">
                        <a href="/deals/flight-to-amsterdam">
                            <figure><img src="/images/home/amsterdam.png" alt="amsterdam" />  <p>Amsterdam <small>Netherlands</small></p></figure>
                        </a>
                    </div>


                    <div class="items">
                        <a href="/deals/flight-to-dubai">
                            <figure><img src="/images/home/dubai.png" alt="#" />  <p>Dubai <small>United Arab Emirates</small></p></figure>
                        </a>
                    </div>

                    <div class="items">
                        <a href="/deals/flight-to-london">
                            <figure><img src="/images/home/london.png" alt="#" /> <p>London <small>United Kingdom</small></p></figure>
                        </a>
                            </div>
                </div>

            </div>
        </div>
    </div>


</div>