<div class="serviceBox">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="service_slider">
                    <div class="service_block">
                        <div class="icons">
                            <img src="/images/footer/24x7.png" class="icon" alt="" />
                        </div>
                        <div class="detail">
                            <h3>Support Team</h3>
                            <p>Contact our expert support team with all your questions, 24/7</p>
                        </div>
                    </div>

                    <div class="service_block">
                        <div class="icons">
                            <img src="/images/footer/trust-pilot.webp" class="icon" alt="" />
                        </div>
                        <a href="https://www.trustpilot.com/review/wizfairvacation.com?utm_medium=trustbox&utm_source=MicroTrustScore" target="_blank">
                            <div class="detail trust">
                                <h3>Excellent</h3>
                                <img src="/images/footer/stars.svg" class="icon" alt="" />
                                <p><b>4.8</b> out of 5</p>
                            </div>
                        </a>
                    </div>

                    <div class="service_block">
                        <div class="icons happy">
                            <img src="/images/footer/happy.png" class="icon" alt="" />
                        </div>
                        <div class="detail travel">
                            <h3>Powering</h3>
                            <p>1 million+ Travelers</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>


