@using Common;
<footer id="footerCntr">


    <!--  / footer disclaimer box \ -->
    <div class="disclaimerBox">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>This website is made accessible online by SmartFlights Fares.This air fares data gave on this site is valid and complete to best of our administrations. All showed flights fares are liable to change in at regular intervals and may differ by dates, time, landing city and Departure city. Flights fares includes all extra charges, with incl. administration charges and taxes.This website has no connection with the official site of the airlines referenced on this website.e-tickets may take up to 48 hours to be issued depending upon the availability.</p>
                </div>
            </div>
        </div>
    </div>
    <!--  \ footer disclaimer box / -->
    <!--  / footer logo box \ -->
    <div class="footer__logoBox">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="footer_logo">
                        <li><img src="~/images/footer/trustpilot-logo.png" class="trustpilot" alt="trustpilot" /></li>
                        <li><img src="~/images/footer/card-icon.png" class="card_icons" alt="card" /></li>

                    </ul>

                </div>

            </div>
        </div>
    </div>
    <!--  \ footer logo box / -->
    <!--  / footer Copyrights box \ -->
    <div class="footer__copyrightBox">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">

                    <p>All Rights Reserved, SmartFlights Fares @DateTime.UtcNow.ToString("yyyy")</p>

                </div>

                @*<div class="col-sm-5 text-right">
                    <ul class="social__icons">
                        <li>Follow us:</li>
                        <li><a href="https://www.facebook.com/wizfairtravelCanada/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/wizfairtravel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/c/wizfairtravel" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://www.instagram.com/thewizfair/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
    <!--  \ footer Copyrights box / -->
</footer>