@using Common
<header id="headerCntr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <a href="/"><img src="~/Images/logo.png" alt="logo" /></a>
                </div>
                @{Html.RenderPartial("~/views/home/mobile/partial/_CurrencyConverter.cshtml");}
                <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber" class="call-tfn_mobile"> <i class="bi bi-telephone"></i> </a>
            </div>

        </div>
    </div>
</header>
