@using Common
<header id="conformation">
    <div class="tfnmobile">
        <div class="call">Call us 24/7 </div>
        <div class="tfn">
            <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber" class="call_mobile"> <i class="bi bi-telephone"></i>@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <a href="/"><img src="~/Images/logo.png" alt="logo" /></a>
                </div>
            </div>
        </div>
    </div>
</header>
