@using Common
<header id="headerCntr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <a href="/"><img src="~/Images/logo.png" alt="logo"/></a>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="phone_strip">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <p>Need help? Call our 24/7 support: <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber">@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber</a></p>
            </div>

        </div>

    </div>

</div>
