@using Common;
@using Configration;
@using Infrastructure;

<footer id="footerCntr">
    <!--  / footer link box \ -->
    <div class="footer__linkBox">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-4 mobile-bg">
                    <h4> Get in touch</h4>
                    <p>
                        United States
                        @Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber
                    </p>
                    <a href="mailto:@Utility.PortalSettings.PortalDetails.CustomerSupportMail" class="email"><i class="bi bi-envelope icon"></i> @Utility.PortalSettings.PortalDetails.CustomerSupportMail</a>
                </div>

                <div class="col-lg-3 col-md-4 mobile-bg">
                    <h4>Quick Links</h4>

                    <ul>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/terms-condition">Terms &amp; Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/payment-security">Payment Security</a></li>
                        <li><a href="/website-terms-of-use">Website Terms of Use</a></li>

                    </ul>


                </div>

                <div class="col-lg-3 col-md-4 mobile-bg">
                    <h4>Top Destinations</h4>

                    <ul>
                        <li><a href="/deals/flight-to-amsterdam">Flights to Amsterdam</a></li>
                        <li><a href="/deals/flight-to-bali">Flights to Bali</a></li>
                        <li><a href="/deals/flight-to-aruba">Flights to Aruba</a></li>
                        <li><a href="/deals/flight-to-cancun">Flights to Cancun</a></li>
                        <li><a href="/deals/flight-to-dubai">Flights to Dubai</a></li>
                        <li><a href="/deals/flight-to-london">Flights to London</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 mobile-bg hide-tablet">
                    <h4>Top Airlines</h4>

                    <ul>
                        <li><a href="/airlines/ua">United Airlines Flights</a></li>
                        <li><a href="/airlines/dl">Delta Air lines Flights</a></li>
                        <li><a href="/airlines/aa">American Airlines Flights</a></li>
                        <li><a href="/airlines/b6">JetBlue Airlines Flights</a></li>
                        <li><a href="/airlines/as">Alaska Airways Flights</a></li>
                        <li><a href="/airlines/ek">Emirates Airlines Flights</a></li>

                    </ul>
                </div>


            </div>
        </div>
    </div>
    <!--  \ footer link box / -->
    <!--  / footer disclaimer box \ -->
    <div class="disclaimerBox">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6>Disclaimer: <span id="dots">...</span></h6><span id="more">This website is made accessible online by SmartFlights Fares.This air fares data gave on this site is valid and complete to best of our administrations. All showed flights fares are liable to change in at regular intervals and may differ by dates, time, landing city and Departure city. Flights fares includes all extra charges, with incl. administration charges and taxes.This website has no connection with the official site of the airlines referenced on this website.e-tickets may take up to 48 hours to be issued depending upon the availability.</span>
                    <button onclick="myFunction()" id="myBtn">Read more</button>
                </div>
            </div>
        </div>
    </div>
    <!--  \ footer disclaimer box / -->
    <!--  / footer logo box \ -->
    <div class="footer__logoBox">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    <ul class="footIcons">
                        <li><span class="iconsSec arc"></span></li>
                        <li><span class="iconsSec bbb"></span></li>
                        <li><span class="iconsSec iata"></span></li>
                        <li><span class="iconsSec visa"></span></li>
                        <li><span class="iconsSec mster"></span></li>
                        <li><span class="iconsSec disc"></span></li>
                        <li><span class="iconsSec club"></span></li>
                        <li><span class="iconsSec amexp"></span></li>
                        <li><span class="iconsSec stripe"></span></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  \ footer logo box / -->
    <!--  / footer Copyrights box \ -->
    <div class="footer__copyrightBox">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">

                    <p>© @DateTime.UtcNow.ToString("yyyy") Smartflightsfares is part of WIZFAIR.</p>

                </div>

               <div class="col-sm-5 text-right">
                    <ul class="social__icons">
                        <li>Follow us:</li>
                        <li><a href="https://www.facebook.com/wizfairtravelCanada/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/wizfairtravel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/c/wizfairtravel" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://www.instagram.com/thewizfair/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  \ footer Copyrights box / -->
</footer>