@using Common;

<section class="trust-logo-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="trust-logo-slider">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/1.jpg" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/2.jpg" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/3.jpg" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/4.jpg" alt="" />
                            </div>
                        </div>
                       
                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/asta.jpg" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/bbb.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/5.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="trust-icon-slider">
                                <img src="~/Images/6.jpg" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>













@*<div class="payment-option-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="payment-option">
                        <img src="/images/payment-trust-1.jpg" alt="Payment trust" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-option">
                        <img src="/images/payment-opt-1.jpg" alt="payment option" />
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="strip-disclaimer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>
                    <strong>Disclaimer:</strong> SmartFlights Fares is an independent online travel portal and has no association with any third party. By accessing Cheapbestfares,
                    you acknowledge that SmartFlights Fares is not responsible for any loss, however, caused, by the use of any of the content, offers, or links to other sites
                    embedded on this website. For any query or feedback, you can email us at @Utility.PortalSettings.PortalDetails.CustomerSupportMail.
                </p>
            </div>

        </div>
    </div>
</div>

