@using Common
<header id="headerCntr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <a href="/"><img src="~/Images/logo.png" alt="logo" /></a>
                </div>
                <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber" class="call-tfn"> <i class="bi bi-telephone"></i>  <span>Call us 24/7 for Support</span> @Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber </a>
                @{Html.RenderPartial("~/views/home/partial/_CurrencyConverter.cshtml");}

                <nav class="menuBox">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                                <!--  / menu box \ -->

                                <ul>
                                    <li><a href="/">Flights</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/contact-us">Support</a></li>
                                </ul>

                                <!--  \ menu box / -->
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</header>

