@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web Site Mode</title>
</head>
<body>
    <div style="width:100%;font-size: 26px;font-family: Roboto;font-weight: 600; color:#000000; float:left;">
        @ViewBag.WebSiteMode<br />
        <a style=" background:#ff6a00; color:#ffffff; font-size:14px; padding:5px 10px; text-decoration:none;" href="/">Home</a><br />
       @ViewBag.IP
    </div>


</body>
</html>
