slider.ui-widget.ui-widget-content {
    padding: 0px !important;
    height: 3px;
    border: none;
}

slider {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 100%;
    margin: 10px 0 15px 0;
    vertical-align: middle;
}

slider span {
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}

slider span.base {
    width: 100%;
    height: 100%;
    padding: 0;
}

slider span.bar {
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #ccc;
}

slider span.bar.selection {
    width: 0%;
    z-index: 1;
    background: $secondary;
}

slider span.pointer {
    cursor: pointer;
    width: 19px;
    height: 19px;
    top: -8px;
    z-index: 1;
    border: 2px solid $secondary;
    background: $white;
    border-radius: 100%;
    outline: none;
}


/* slider span.pointer:after {
            content: '';
            background-color: #f44336;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 5px;
            left: 5px;
            -webkit-border-radius: 1em/1em;
            border-radius: 1em/1em;
        }
        slider span.pointer:hover:after {
            background-color: #f44336;
        }
slider span.pointer.active:after {
  background-color: #f00;
}
slider span.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
slider span.bubble.selection {
  top: 15px;
}
slider span.bubble.limit {
  color: #808080;
}
*/