@model Infrastructure.HelpingModel.API.FlightSearch

@using Common;
@using Infrastructure.HelpingModel.API
@using Infrastructure.HelpingModel;
@{
     ViewBag.Title = "Airlines | " + Utility.PortalSettings.PortalDetails.BrandName;
     Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div id="bannerCntr" style="background-image:url(/images/airline-banner/klm.jpg)">
    <div class="container z-index-relative">
        <div class="row">
            <div class="col-12">
                <div class="tagline">The Cheapest KLM Flights</div>
            </div>
        </div>
        @{Html.RenderPartial("~/views/flights/partial/_FlightSearchEngine.cshtml", Model);}

    </div>

</div>

<div class="whySec">
    <div class="container">
        <ul>
            <li>
                <img src="~/Images/support.png" alt="" />
                <div class="info">
                    <h4>24/7 Support</h4>
                    <p>24x7 support service provider</p>
                </div>
            </li>
            <li>
                <img src="~/Images/support.png" alt="" />
                <div class="info">
                    <h4>Secure Booking</h4>
                    <p>Find best holiday destination</p>
                </div>
            </li>
            <li>
                <img src="~/Images/support.png" alt="" />
                <div class="info">
                    <h4>Best Price Deal</h4>
                    <p>Best price deal with us</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="klmDealBg">
    <ul>
        <li class="dealSec">
            <div class="airlineName">
                <img src="" />
                <span>Airline Name</span>
            </div>

            <div class="dealInfo">
                <h5>NYC</h5>

                <span>Depart Date</span>

                <span>Depart Date</span>
                <div class="dorpUp">
                    LAX
                </div>
            </div>
            <div class="priceSec">
                <span>Starting from</span>
                <div class="price">
                   $199.00
                </div>
            </div>

        </li>
</ul>
</div>



<div id="contentCntr">

    @{Html.RenderPartial("~/views/home/partial/_Why.cshtml");}


    <div class="container">

        <!-- Content-->
        <div class="contentBox">

            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h3 class="page__title"><strong>Air Canada </strong> Flights </h3>
                        <p>Air Canada and SmartFlights Fares give you immediate access to the widest range of available rates for booking a flight with Air Canada. It features packaged travel perks like an upgrade eligibility and change flexibility. On all of our award-winning flights, you'll earn Aeroplan points and Status Qualifying Mile, which you can then use to achieve further discounted costs. When booking a flight with Air Canada with SmartFlights Fares, you'll always get our lowest prices, guaranteed.</p>
                        <p>Book Your Next Trip With Air Canada, the Best Airline in North America. Air Canada provides you the CleanCare+ programme, along with improved health and safety measures. Directly book online. Use Frequent Flyer Miles to instantly save money. Check-in is simple and quick over the internet. Flexible fares are available on booking flights with Air Canada.</p>
                        <p>Are you ready to get started? Find inspiration for your next vacation or the finest flight discounts for business or pleasure. Compare inexpensive flights to our most popular destinations to start planning your holiday now.</p>


                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-12">
                    <p>Air Canada is the national airline of Canada and the country's largest airline in terms of fleet size and passengers transported. The headquarters of Air Canada are located in the borough of Saint-Laurent in Montreal, Quebec, Canada.</p>
                    <p>It is a member of the Star Alliance since its inception. Montréal–Trudeau International Airport (YUL), Toronto Pearson International Airport (YYZ), and Vancouver International Airport (YVR) are Air Canada's key hubs (YVR).</p>
                    <h4>Book a flight with Air Canada</h4>
                    <p>Conveniently book Air Canada flights. Kindly reach us at <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber">@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber</a> to book your Air Canada reservation. Access a customer care team that is available 24 hours a day, 7 days a week, with response time as minimal as 30 seconds. Book a flight at zero additional hidden taxes or costs, today.</p>
                    <h4>A Quick and Easy Step-Wise Guide For Booking A Flight With Air Canada and SmartFlights Fares</h4>
                    <p>SmartFlights Fares has created a simple step-by-step instruction to make buying airline tickets as simple as possible. Continue reading to find out how to book an Air Canada flight quickly and affordably.</p>

                    <ul class="list w_50">
                        <li>To get the most out of your visit and save up to 40% on your tickets, log in to your SmartFlights Fares account.</li>
                        <li>On the Air Canada flight booking page, enter your departure and arrival locations. Depending on your interests, SmartFlights Fares offers a choice of flight alternatives, including one-way, round-trip, and multi-city vacations. </li>
                        <li>Then, along with a few other parameters like the number of tickets you want to buy, enter the dates you wish to travel and return.</li>
                        <li>Input the dates you want to go and return from your location, as well as a few additional factors like the amount of tickets you want to buy.</li>
                        <li>Finally, based on your selections, you'll see all of the Air Canada flight reservations that are available.</li>
                        <li>Choose the Air Canada flight that best fits your budget and price requirements, then complete the paying process to complete your Air Canada reservation.</li>
                        <li>When you purchase an Air Canada flight via SmartFlights Fares, you'll get instant access to a choice of seasonal promos and discounts, as well as low-cost flights.</li>
                        <li>As soon as you complete the ticket transaction, your Air Canada flight tickets will be emailed to your authorised email address and phone number.</li>
                    </ul>
                    <h4>Best Practices while booking a flight with Air Canada</h4>
                    <p>SmartFlights Fares wishes you a nice and memorable flight reservation with Air Canada. Follow these advice and suggestions to get the most out of SmartFlights Fares and your holiday adventure.</p>
                    <ul class="list w_50">
                        <li>Keep your vacation dates as flexible as possible. It's unusual for the price of a flight to increase on specified days. Adjustable dates may be used to compare flight tickets and get the best deal. To obtain great savings on Air Canada Flights, use the right credit cards.</li>
                        <li>Make sure you double-check your Air Canada bookings at least a couple weeks in advance. When there is limited demand for a ticket, you can simply receive substantially discounted fares and fly for a small fraction of the cost.</li>
                        <li>Take advantage of Air Canada's award-winning lounges and in-flight entertainment options when booking a journey.</li>
                        <li>Register with SmartFlights Fares and turn on notification notifications to never miss out on the latest Air Canada Flight Tickets discounts and seasonal promotions.</li>
                    </ul>
                    <h4>Air Canada Cabin Services</h4>
                    <p>SmartFlights Fares provides a choice of Air Canada airline booking packages and discounts that will take you to one of the various cabin experiences accessible when making an Air Canada reservation. We vow you will have access to customer service 24 hours a day, 7 days a week for any issues you may have throughout the airline reservation process. We also offer in-flight assistance and strive to make your journey as comfortable as possible.</p>
                    <h4>Things to know before you take a flight through Air Canada</h4>
                    <p>Before flying with Air Canada, there are a few things you should know.</p>
                    <ul class="list w_50">
                        <li>Currency: If one wants to get the most out of a trip, one must be familiar with the currency of the destination country. The official currency of the United States, for example, is the dollar (USD). The majority of restaurants take credit and debit cards, as well as cash.</li>
                        <li>Customs and culture: Learning about a place's customs and culture is a beneficial habit to develop. Tipping is prevalent in the United States, with around 10% added to the total at restaurants and bars. Tipping is also demanded of taxi drivers and hotel personnel.</li>
                        <li>Cuisine of the region: When visiting a new place, it's usually a good idea to understand a little about the cuisine served there. Food in the country of France is something you should not miss out on while visiting the country on booking a flight with Air Canada. There, you can try the world famous blue cheese, excuisite patiserries or the wonderful croissant.</li>
                        <li>Sockets and Plugs: The sockets and plugs used in a foreign vacation destination are one of the most significant information that a tourist should be aware of. In the United States, plug sockets A and B are utilised. The standard voltage is 120 V, and the frequency is 60 Hz. If you'll need an adapter, be sure you have one on hand.</li>
                    </ul>
                    <h4>Air Canada Reward Programs</h4>
                    <p>Aeroplan is Air Canada's frequent flyer programme, which allows customers to earn and spend points while also gaining status and benefits as an Air Canada client. </p>
                    <p>After Air Canada and Aeroplan reorganised their points collection and redemption processes, Air Canada launched Altitude, an internal cashback rewards programme. The two programmes work hand in hand.</p>
                    <h4>Air Canada Flight Booking FAQs</h4>
                    <h5>What is the most effective strategy to save money on Air Canada reservations?</h5>
                    <p>SmartFlights Fares has a great range of seasonal offers and discounts on Air Canada ticket reservations and bookings, with up to 40% off. Sign up for SmartFlights Fares's email notifications to be informed about special offers such as Black Friday and Cyber Monday specials. When buying a flight with Air Canada or SmartFlights Fares, you may utilise this to remain up to date on the newest discounts and specials.</p>
                    <h5>How can I book a flight with Air Canada using skymiles?</h5>
                    <ul class="list w_50">
                        <li>Log in to your SkyMiles account or join the SkyMiles programme as a new member to get started.</li>
                        <li>From the drop-down menu, select the option to book a flight. Choose flights that accept SkyMiles as a form of payment.</li>
                        <li>Select Pay with Miles on the next page of the trip summary. To finish the reservation, provide all of your contact information.</li>
                    </ul>
                    <h5>What are my options for choosing an Air Canada flight seat?</h5>
                    <p>To double-check your travel information, go into your SmartFlights Fares account and utilise the flight confirmation number provided. You have the option of picking your favourite seat when ordering an Air Canada ticket. You may then choose your seats and pay with cash or Miles.</p>
                    <h5>If I wish to enter the United States, what documents do I need to bring?</h5>
                    <p>If you're not a US citizen, you'll need a passport that's valid for at least six months after your arrival date. To enter the nation, you'll need a visa or a visa waiver. For the most up-to-date information on the visa you'll need, go to the US government's website.</p>
                    <h5>Is it possible to alter my flight after booked it less than 24 hours?</h5>
                    <p>You can make changes to your flight information up to 24 hours before your trip. With SmartFlights Fares, ordering an Air Canada ticket is straightforward and quick, thanks to a 24-hour hotline that ensures customer satisfaction and has a minimal wait time.</p>
                    <h5>Are COVID safety rules followed by Air Canada?</h5>
                    <p>The procedure of booking a flight with Air Canada is completely safe and secure. Air Canada goes to great lengths to ensure that its passengers enjoy a pleasant and safe flight. The plane is sanitised on a regular basis, and the air filters on board ensure that the interiors of the flight remain clean. Each customer is also given hand sanitizer and is required to wear protective gear.</p>
                    <h4>Air Canada Domestic Flights Service</h4>
                    <p>Use SmartFlights Fares to get the finest and most substantial discounts and seasonal promotions when booking a trip with Air Canada. Air Canada has the most nonstop flights on the most routes between the United States and Canada of any airline. It operates 24 hours a day, 7 days a week, and serves 60 domestic destinations. Some of the most popular domestic flights and destinations are listed below.</p>
                    <ul class="list w_50">
                        <li>Air Canada flights to Boston</li>
                        <li>Air Canada flights to California</li>
                        <li>Air Canada flights to New York</li>
                    </ul>
                    <h4>Air Canada International Flights Service</h4>
                    <p>Because of their multiple benefits, SmartFlights Fares and Air Canada flights are one of the most popular flight services among foreign travellers. Air Canada is the country's major domestic and international airline, with over 220 destinations across six continents. Canada's flag carrier is one among the world's top 20 airlines, with approximately 51 million passengers served in 2018. Air Canada flies to 64 cities in Canada, 60 cities in the United States, and 98 cities in Europe, the Middle East, Africa, Asia, Australia, the Caribbean, Mexico, and South America on a regular basis. Find the best airline flights and discounts to the most popular destinations across the world. The most popular travel locations are as follows:</p>
                    <ul class="list w_50">
                        <li>Air Canada flights to Israel</li>
                        <li>Air Canada flights to Toronto</li>
                        <li>Air Canada flights to Rome</li>
                    </ul>


                </div>

            </div>

        </div>
        <!-- Content-->

    </div>


    @{Html.RenderPartial("~/views/home/partial/_PopularDeals.cshtml"); }

</div>

@section scripts{
    @Scripts.Render("~/bundles/searchengine")

}





