@using Common;
@using Infrastructure.HelpingModel.API
@using Infrastructure.HelpingModel;
@{
    ViewBag.Title = "About Us | " + Utility.PortalSettings.PortalDetails.BrandName;
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<!--  / content container \ -->
<div id="contentCntr">

    <div class="static_title">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About us</h2>
            </div>
        </div>
    </div>



    <div class="container">

        <div class="contentBox">

            <div class="row">

                <div class="col-md-12">

                    <h3>The Leader Among Travel Agencies Internationally</h3>
                    <p>Unpublished Farehub is aARC verified (ARC number: 31786403) full-service travel agency that serves business and leisure clients who require professional, friendly and efficient organization of their outbound and inbound travel &amp; tourism needs. It was founded as a private company in 2018 and has quickly grown to become a leading company in the region and a major player in the international tourism sector. Unpublished Farehub has its own companies &amp; offices in USA, Canada and India.</p>

                    <p>Our company is manned with experienced, knowledgeable, multilingual, and highly qualified team based on considerable experience combined with youthful enthusiasm and creative spirit, in-depth knowledge of the products and services we offer and commitment to all aspects of Travel and Tourism Management.</p>

                    <p>To continue offering its customers with a variety of and best possible quality services, our company has and will strive to have excellent cooperation &amp; relationship with several international organizations and suppliers worldwide to meet client needs and expectations.</p>

                    <p>Unpublished Farehub&rsquo;s sustainability and practices are directly linked to its employees&rsquo; believe in fundamental corporate values to satisfy customers with innovative technology, superior quality, value and friendly services.</p>

                    <p>Our friendly, professional and competent staff members as travel consultants always do their best to ensure that all our company&rsquo;s travel and tourism related services are delivered on time and in full, covering every detail required for the client&rsquo;s itinerary with the intention to complete satisfaction and/or even to exceed their expectations.</p>

                    <h3>Among Others, We Provide Our Customers With The Following Services</h3>
                    <ul class="list">
                        <li>Air tickets to any destination</li>
                        <li>Hotel or accommodation types booking</li>
                        <li>Transfers, airport meet/greet and farewell, and car rental</li>
                        <li>Visas to many countries</li>
                        <li>Travel insurance</li>
                        <li>Medical tourism</li>
                        <li>Religious tourism</li>
                        <li>Meeting venues booking and conference and event attendance</li>
                        <li>Honeymoon packages</li>
                        <li>Interpreters and translators</li>
                        <li>Tourism packages to many countries in the Middle East, Asia and Europe</li>
                        <li>Conference and event attendance</li>
                    </ul>



                </div>

            </div>




        </div>

    </div>

</div>
<!--  \ content container / -->
